<div class="row">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<div class="page-header">
			<h2 class="pageheader-title">افزودن اتاق‌های جدید به وب سایت</h2>
		</div>
	</div>
</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-right: 0px;padding-left: 0px;">
	<%- include(viewPath('layouts/error-messages'), { errorMessages }); %>
	<div class="card">
		<h5 class="card-header">ایجاد اتاق جدید</h5>
		<div class="card-body">
			<form id="validationform" data-parsley-validate="" novalidate="" action="/admin/room/create" method="POST" enctype="multipart/form-data">
				<div class="form-group row">
					<div class="col">
						<label for="title" class="control-label font-weight-bold">اتاق</label>
						<input type="text" class="form-control" name="title" id="title"
							placeholder="عنوان را وارد کنید">
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						<label for="type" class="control-label font-weight-bold font-weight-bold">نوع</label>
						<select name="type" id="type" class="form-control">
							<option value="normal">عادی</option>
							<option value="vip">ویژه</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						<label for="body" class="control-label font-weight-bold">توضیحات</label>
						<textarea rows="5" class="form-control" name="body" id="body"
							placeholder="توضیحات را وارد کنید"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						<label for="images" class="control-label font-weight-bold">تصویر
							اتاق</label>
						<input type="file" class="form-control" name="images" id="images"
							placeholder="تصویر را وارد کنید">
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						<label for="price" class="control-label font-weight-bold">قیمت</label>
						<input type="number" class="form-control" name="price" id="price"
							placeholder="قیمت را وارد کنید">
					</div>
					<div class="col">
						<label for="maxPeople" class="control-label font-weight-bold">حداکثر نفرات</label>
						<input type="number" class="form-control" name="maxPeople" id="maxPeople" placeholder="حداکثر نفرات را وارد کنید">
					</div>
				</div>
				<div class="form-group row text-right">
					<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
						<button type="submit" class="btn btn-space btn-primary">افزودن</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>