<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap-rtl.min.css">

    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/libs/css/vazir.css">
    <link rel="stylesheet" href="/assets/libs/css/home.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>پنل مدیریت هتل</title>

	<%- style %>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" style="margin-right: 0px" href="/">هتل بی‌نام</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-right-top mr-auto">
                        <a href="/" class="btn btn-sm btn-primary ml-sm-3">صفحه اصلی سایت</a>
                        <a href="/logout" class="btn btn-sm btn-danger ml-sm-3">خروج</a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">داشبورد</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column" style="padding-right: 0px">
                            <!-- <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-1" aria-controls="submenu-1"><i
                                        class="fa fa-fw fa-user-circle"></i>داشبورد</a>
                                <div id="submenu-1" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin">صفحه اصلی</a>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-2" aria-controls="submenu-2"><i
                                        class="fa fa-fw fa-user"></i>پروفایل</a>
                                <div id="submenu-2" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/profile">ویرایش اطلاعات</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% if (userCan('room')) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-3" aria-controls="submenu-3"><i
                                        class="fa fa-fw fa-home"></i>اتاق‌ها</a>
                                <div id="submenu-3" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/room/create">ایجاد اتاق جدید</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/room">مدیریت اتاق‌ها</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                            <% if (userCan('comment')) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-4" aria-controls="submenu-4"><i
                                        class="fa fa-fw fa-comments"></i>دیدگاه‌ها</a>
                                <div id="submenu-4" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/comment">مدیریت دیدگاه‌ها</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                            <% if (userCan('permission')) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-5" aria-controls="submenu-5"><i
                                        class="fa fa-fw fa-lock"></i>دسترسی‌ها</a>
                                <div id="submenu-5" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/permission/create">ایجاد دسترسی جدید</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/permission">مدیریت دسترسی‌ها</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                            <% if (userCan('role')) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-6" aria-controls="submenu-6"><i
                                        class="fa fa-fw fa-key"></i>سطوح دسترسی</a>
                                <div id="submenu-6" class="collapse submenu">
                                    <ul class="nav flex-column" style="padding-right: 20px">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/role/create">ایجاد سطح دسترسی جدید</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/role">مدیریت سطوح دسترسی</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                            <% if (userCan('user') || userCan('reservation')) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-7" aria-controls="submenu-7"><i
                                    class="fa fa-fw fa-user-plus"></i>کاربران</a>
                                    <div id="submenu-7" class="collapse submenu">
                                        <ul class="nav flex-column" style="padding-right: 20px">
                                        <% if (userCan('user')) { %>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin/user/create">ایجاد کاربر جدید</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin/user">مدیریت کاربران</a>
                                            </li>
                                        <% } %>
                                        <% if (userCan('reservation')) { %>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin/user/reserves">رزرو‌ها</a>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

					<%- body %>

                </div>
            </div>
        </div>
    </div>
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>

	<%- script %>
</body>

</html>