<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.83.1">
	<title>وبسایت رزرو هتل بی‌نام</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css" .>
	<link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/css/navbar-top.css">
	<link rel="stylesheet" href="/css/vazir.css">
	<link rel="stylesheet" href="/css/admin.css">

	<%- style %>

</head>

<body>

	<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">مجموعه هتل‌های بی‌نام</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/room">رزرو اتاق و سويئت</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/auth/register">‌ثبت‌نام</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/login">‌ورود</a>
					</li> -->
				</ul>
				<form class="d-flex">
					<!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button> -->
					<% if (auth.check) { %>
						<a href="/admin" class="btn btn-success ml-2">پنل کاربری</a>
						<a href="/logout" class="btn btn-danger">خروج‌</a>
					<% } else { %>
						<a href="/auth/login" class="btn btn-success ml-2">ورود</a>
						<a href="/auth/register" class="btn btn-primary">ثبت‌نام</a>
					<% } %>
				</form>
			</div>
		</div>
	</nav>